<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to poso.ba <%= @user.name %></h1>
<p>
  Uspješno si se registriao na poso.ba i tvoj username je: <%= @user.email %>.<br/>
</p>
<p>
  Da bi aktivirao svoj korisnički račun, potrebno je da klikneš na link: <%= @url %>.
</p>
</body>
</html>