<div class="container" style="background-color:#EAE8E8; height: 350px">
<h1 align="center">Welcome to poso.ba!</h1>

<h5> POSO.BA</h5>
<h5> Development team DAN</h5>
<h5> All rights reserved</h5>

</div>

<footer>
  <div class="container">
    <section class="footer_left">
      <h3>Contact information:
        <span>Lorem ipsum dolor sit amet</span>
        <span>Lorem ipsum dolor sit amet</span>
      </h3>
    </section>

    <section class="footer_left">
      <h3>Website:
        <span>Lorem ipsum dolor sit amet</span>
        <span>Lorem ipsum dolor sit amet</span>
      </h3>
    </section>


    <aside class="footer_left">
      <h3>Lorem ipsum:
        <span>Lorem ipsum dolor sit amet</span>
        <span>Lorem ipsum dolor sit amet</span>
      </h3>
    </aside>
    <img src="assets/contact-us.png" width="240" height="230" alt="contact" class="picture_footer"/>


    <div id="FooterTwo"> © 2014 	Berza poslova </div>
    <div id="FooterTree"> Valid html5  - creative simplicity</a> </div>
  </div>
</footer>