<!--<h1 class="naslov">Dobro došli na poso.ba!</h1>-->


<table class="tabela" >
  <tr> <td colspan="3"><img src="assets/job.jpg" width="895px" height="40"></td></tr>
  <tr class="naslov"><td style="background-color: #000000">     Categories</td><td colspan="2">Advartisments</td></tr>
  <tr><td class="boja">     Medicina i farmacija<br>
    Računarstvo i informatika <br>
    Ekonomija i bankarstvo <br>
    Saobraćaj i komunikacije <br>
    Elektrotehnika <br>
    Prodaja <br>
    Mašinstvo <br>
    Građevina i geodezija <br>
    Računarstvo i informatika <br>
    Ekonomija i bankarstvo <br>
    Saobraćaj i komunikacije <br>
    Elektrotehnika <br>
    Prodaja <br>
    Mašinstvo <br>
    Građevina i geodezija <br>
  </td><td>Programer (Računarstvo i informatika)<br>
    IT kompanija Autority Partners nudi 3 pozicije za junior programere...<b class="read">read more</b>
  </td><td>Neki oglas</td></tr>

</table>




