<!DOCTYPE html>
<html>
<head>
    <script src="../../app/assets/javascripts/app.js" type="text/javascript"></script>
    <script src="../../app/assets/javascripts/controller.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
<div id="wrapper" ng-app="App" ng-controller="UserUpdateCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Berza poslova</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Jezik <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="?locale=bs#" data-no-turbolink="true">BS</a></li>
                        <li><a href="?locale=en#" data-no-turbolink="true">EN</a></li>
                        <li><a href="#">Hrvatski</a></li>
                    </ul>
                </li>
                <li class="active"><li class="active"> <%= link_to "Dashboard", root_path %> </li>
                <li>  <%= link_to (t "employer.add"), employers_new_path %> </li>
                <li>  <%= link_to (t "employer.all"), employers_path %> </li>
                <li>  <%= link_to (t "user.all"), users_path %> </li>
                <li>  <%= link_to (t "advartisment.all"), advartisments_path %> </li>

            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown messages-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">7 New Messages</li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                                <span class="name"><% current_user %></span>
                                <span class="message">Hey there, I wanted to ask you something...</span>
                                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                                <span class="name">John Smith:</span>
                                <span class="message">Hey there, I wanted to ask you something...</span>
                                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                                <span class="name">John Smith:</span>
                                <span class="message">Hey there, I wanted to ask you something...</span>
                                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">View Inbox <span class="badge">7</span></a></li>
                    </ul>
                </li>
                <li class="dropdown alerts-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                        <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                        <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                        <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                        <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                        <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to (t "nav.profile"),current_user%></li>
                        <li><a href="#"> <%= link_to (t "user.edit"), edit_user_path(current_user.id) %></a></li>
                        <li class="divider"></li>
                        <li><a href="#"></i> <%= link_to (t "nav.logout"), log_out_path %></a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <h1 align="center">Dobrodosao na poso ba</h1>
        <br>
        <br><br><br>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Podaci o korisniku</h3>
                    </div>
                    <div class="panel-body">
                        <div class="field">
                            <label class="control-label" > Name:</label>
                            <input type="text" id="name" ng-model="user.name"/>
                        </div>
                        <div class="field">
                            <label class="control-label" > Last name:</label>
                            <input type="text" id="last_name" ng-model="user.lastname"/>
                        </div>
                        <div class="field">
                            <label class="control-label" > Email:</label>
                            <input type="text" id="email" ng-model="user.email"/>
                        </div>
                        <div class="field">
                            <label class="control-label" > Password:</label>
                            <input type="text" id="password" ng-model="user.password"/>
                        </div>
                        <div class="field">
                            <label class="control-label" > Addres:</label>
                            <input type="text" id="adress" ng-model="user.adress"/>
                        </div>
                        <div class="field">
                            <label class="control-label" > Phone:</label>
                            <input type="text" id="phone" ng-model="user.phone"/>
                        </div>
                        <div class="actions">
                            <button class="btn-primary" ng-click="update()">
                                Update User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money"></i> Slika profila</h3>
                    </div>
                    <div class="panel-body">
                        <%= image_tag(@user.avatar_url) if @user.avatar? %>
                        <%= f.file_field :avatar %>
                        <%= f.hidden_field :avatar_cache %>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

</div><!-- /#wrapper -->
</body>
</html>